/* Adicionar aqui toda a estilização criada para sua aplicação. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #42b3b8;
    --second-color: #c09e74;
    --tertiary-color: #d32b6b;
    --background: #e5e5e5;
}

.header {
    background-color: black;
    border-bottom: solid 5px var(--primary-color);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    flex-direction: row;
    color: var(--second-color);
    gap: 50px;
    list-style-type: none;
}

.agora {
    font-weight: 900;
}

.banner {
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    background-size: cover;
    color: white;
    padding: 12% 30%;
    font-size: 40px;
}

.banner>.container>p {
    max-width: 250px;
}


span {
    font-weight: bold;
}

.social {
    background-color: var(--background);
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin: 50px;
}

.box>img {
    width: 140px;
    height: auto;
}

.box>h4 {
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: var(--primary-color);
    height: 150px;
}

.footer>.container>h4 {
    text-align: center;
    max-width: 300px;
    color: white;
}

.footer>.container>h4 {
    font-weight: 400;
}

.version {
    display: none;
}